{% extends 'base.html.twig' %}

{% block title %}Stock1{% endblock %}

{% block body %}
    <h1>Stock1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock1.id }}</td>
            </tr>
            <tr>
                <th>Product_id</th>
                <td>{{ stock1.productId }}</td>
            </tr>
            <tr>
                <th>Size_id</th>
                <td>{{ stock1.sizeId }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ stock1.stock }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock1_index') }}">back to list</a>

    <a href="{{ path('stock1_edit', {'id': stock1.id}) }}">edit</a>

    {{ include('stock1/_delete_form.html.twig') }}
{% endblock %}
